@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  color-scheme: dark light;
  height: 100%;
  min-height: 100vh;
}

::-webkit-scrollbar { width: 8px; }
/* Track */
::-webkit-scrollbar-track { display: none; background: #252525;}
/* Handle */
::-webkit-scrollbar-thumb {background: #151515;border-radius: 2px;width: 1px;}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover { background: #444; }

@layer components {
  .gradient-green {@apply bg-gray-main bg-gradient-to-b from-accent-dark  from-[40px] via-[#30705599] via-[100px]  to-gray-main to-[196px];}
  .gradient-dark {@apply bg-gradient-to-b from-gray-main via-page to-gray-main;}
  .gradient-purple { @apply bg-gradient-to-b from-purple-800 from-[44px] via-violet-900 via-[88px] to-gray-main to-[268px];}
  .gradient-purple-mobile { @apply bg-gradient-to-b from-purple-800 from-[24px] via-violet-900 via-[60px] to-gray-main to-[140px];}
}