@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  color-scheme: dark light;
}



@media (min-width:680px) {
  ::-webkit-scrollbar { width: 8px; }
/* Track */
::-webkit-scrollbar-track { display: none; background: #252525;}
/* Handle */
::-webkit-scrollbar-thumb {background: #151515;border-radius: 2px;width: 1px;}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover { background: #444; }
}

@layer components {
  .gradient-green {@apply bg-gray-main bg-gradient-to-b from-accent-dark  from-[22px] via-[#30705599] via-[80px]  to-gray-main to-[180px];}
  .gradient-dark {@apply bg-gradient-to-b from-gray-main via-page to-gray-main;}
  .gradient-purple { @apply bg-gradient-to-b from-purple-800 from-[44px] via-violet-900 via-[88px] to-gray-main to-[268px];}
  .gradient-purple-mobile { @apply bg-gradient-to-b from-purple-800 from-[24px] via-violet-900 via-[60px] to-gray-main to-[140px];}
}

audio {
  all: unset;
}

/* audio::-webkit-media-controls-mute-button

audio::-webkit-media-controls-play-button

audio::-webkit-media-controls-timeline-container

audio::-webkit-media-controls-current-time-display

audio::-webkit-media-controls-time-remaining-display

audio::-webkit-media-controls-timeline

audio::-webkit-media-controls-volume-slider-container

audio::-webkit-media-controls-volume-slider

audio::-webkit-media-controls-seek-back-button

audio::-webkit-media-controls-seek-forward-button

audio::-webkit-media-controls-fullscreen-button

audio::-webkit-media-controls-rewind-button

audio::-webkit-media-controls-return-to-realtime-button

audio::-webkit-media-controls-toggle-closed-captions-button */